{% extends 'base.html' %}
{% block title %}
    update
{% endblock title %}
{% block content %}
    <!-- Form -->
    <div class="max-w-md mx-auto p-6 bg-white shadow-md rounded-md">
        <form action="" method="post" class="space-y-4" novalidate>
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-4">
                    {{ field.label_tag }}
                    {{ field }}
                    <!-- Error messages styling -->
                    {% if field.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {% for error in field.errors %}<p>{{ error }}</p>{% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit"
                    class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                Submit
            </button>
        </form>
    </div>
{% endblock content %}
